<h2>Clients</h2>
<a href="/tools/clients/add">Add New Client</a>
<ul>
  <% clients.forEach(client => { %>
    <li><a href="/tools/clients/<%= client.id %>"><%= client.name %></a></li>
  <% }); %>
</ul>
