<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <main>
    <header>
      <h1><%= title %></h1>
    </header>
    <section>
      <%- body %>
    </section>
  </main>
</body>
</html>
