<form action="/tools/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" value="admin" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" value="password" required>
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
